<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Serve Files+</title>

  <!-- on single line, no blanks: <style>{style}</style>  -->
  <style>{style}</style>

</head>

<body">
  
    <div id="intro_section" >
      <h2>Directory Index</h1>
      <p>Click on any directory to drill down, on any file to view/download. Right click on any file to copy the link data. Use the path section to navigate back.</p>
    </div>
    
    <div id="path_section">
      <p>Path: <a href="/">home</a>{linked-path}</p>
    </div>
    
    <div id="file_section"> <!-- will be filled by serve-index with ul labeled id=files -->
        {files}
    </div>
</body>

</html>