:root {
  --text-color: #4f4f4f;
  --header-color: #6495ed;
  --background-path-color: #cceeff;
  font-family: Segoe UI,system-ui,-apple-system,sans-serif;
  background-color: #fefbff; 
  color: var(--text-color);
}

#intro_section {
  margin-left: 1rem;
}

h2 {
  color: var(--header-color);
}

#path_section {
  background-color: var(--background-path-color);
  margin-left: 1rem;
  padding-bottom: 0.05rem;
  padding-top: 0.05rem;
  border-radius: 25px;
}

#path_section > p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 1rem
}

#path_section  a {
  color: var(--text-color);
  text-decoration: none;
}

#file_section {
  margin-left: 0.6rem;
}

/* as many columns as possible - responsive design*/
#files {
  display:inline-grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-auto-rows: minmax(1rem, auto);
  width: 100%;
  list-style-type: none;
  padding-left: 0rem;
}

/* only file names no date, ellipsis for overflow*/
#files > li > a {
  display: block;
  overflow: hidden;
  white-space: nowrap;
}
#files span {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-color);/* link color*/
}
#files .name {
  background-repeat: no-repeat;
}
.view-tiles .name {
  width: 100%;  /* this makes the other data hidden*/
  background-position:8px 3px;
}

/* space between icon and name*/
#files .icon .name {
  text-indent: 30px;
}



