<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>Serve Files Plus</title>

  <!-- on single line: <style>{style}</style>  -->
  <style>{style}</style>

  <script>
    function $(id) {
      var el = 'string' == typeof id
        ? document.getElementById(id)
        : id;

      el.on = function (event, fn) {
        if ('content loaded' == event) {
          event = window.attachEvent ? "load" : "DOMContentLoaded";
        }
        el.addEventListener
          ? el.addEventListener(event, fn, false)
          : el.attachEvent("on" + event, fn);
      };

      el.all = function (selector) {
        return $(el.querySelectorAll(selector));
      };

      el.each = function (fn) {
        for (var i = 0, len = el.length; i < len; ++i) {
          fn($(el[i]), i);
        }
      };

      el.getClasses = function () {
        return this.getAttribute('class').split(/\s+/);
      };

      el.addClass = function (name) {
        var classes = this.getAttribute('class');
        el.setAttribute('class', classes
          ? classes + ' ' + name
          : name);
      };

      el.removeClass = function (name) {
        var classes = this.getClasses().filter(function (current) {
          return current != name;
        });
        this.setAttribute('class', classes.join(' '));
      };

      return el;
    }

    function search() {
      const searchString = $('search').value.toLowerCase();
      const fileLinks = $('files').all('a');

      fileLinks.each(link => {
        const fileName = link.textContent.toLowerCase();
        if (fileName === '..') return;
        if (searchString.length && fileName.includes(searchString)) {
          link.addClass('highlight');
        } else {
          link.removeClass('highlight');
        }
      });
    }

    $(window).on('content loaded', function () {
      $('search').on('keyup', search);
    });
  </script>
</head>

<body class="directory">
  <div class="container-lg bg-primary">
    <div class="row text-white pt-3">
      <p class="fs-3 text-center">select directory - copy file link - use it in http request</p>
    </div>
    <div class="row pt-4 bg-secondary">
      <div class="col-8">
        <p class="fs-4 text-warning">Path: <a href="/">~</a>{linked-path}</p>
      </div>
      <div class="col-4">
          <input type="text" id="search" class="form-control" autocomplete="off" placeholder="search in index" />
      </div>
    </div>
    <div class="row bg-warning pt-4">
      {files}
    </div>
  </div>
</body>

</html>